article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: text-top;
  background-image: url("../images/emojis.png");
  background-position: 24px 24px;
  background-repeat: no-repeat;
}
.icon-0 {
  background-position: 0 0;
}
.icon-1 {
  background-position: 0 -25px;
}
.icon-10 {
  background-position: 0 -50px;
}
.icon-100 {
  background-position: 0 -75px;
}
.icon-101 {
  background-position: 0 -100px;
}
.icon-102 {
  background-position: 0 -125px;
}
.icon-103 {
  background-position: 0 -150px;
}
.icon-104 {
  background-position: 0 -175px;
}
.icon-105 {
  background-position: 0 -200px;
}
.icon-106 {
  background-position: 0 -225px;
}
.icon-107 {
  background-position: 0 -250px;
}
.icon-108 {
  background-position: 0 -275px;
}
.icon-109 {
  background-position: 0 -300px;
}
.icon-11 {
  background-position: 0 -325px;
}
.icon-110 {
  background-position: 0 -350px;
}
.icon-111 {
  background-position: 0 -375px;
}
.icon-112 {
  background-position: 0 -400px;
}
.icon-113 {
  background-position: 0 -425px;
}
.icon-114 {
  background-position: 0 -450px;
}
.icon-115 {
  background-position: 0 -475px;
}
.icon-116 {
  background-position: 0 -500px;
}
.icon-117 {
  background-position: 0 -525px;
}
.icon-118 {
  background-position: 0 -550px;
}
.icon-119 {
  background-position: 0 -575px;
}
.icon-12 {
  background-position: 0 -600px;
}
.icon-120 {
  background-position: 0 -625px;
}
.icon-121 {
  background-position: 0 -650px;
}
.icon-122 {
  background-position: 0 -675px;
}
.icon-123 {
  background-position: 0 -700px;
}
.icon-124 {
  background-position: 0 -725px;
}
.icon-125 {
  background-position: 0 -750px;
}
.icon-126 {
  background-position: 0 -775px;
}
.icon-127 {
  background-position: 0 -800px;
}
.icon-128 {
  background-position: 0 -825px;
}
.icon-129 {
  background-position: 0 -850px;
}
.icon-13 {
  background-position: 0 -875px;
}
.icon-130 {
  background-position: 0 -900px;
}
.icon-131 {
  background-position: 0 -925px;
}
.icon-132 {
  background-position: 0 -950px;
}
.icon-133 {
  background-position: 0 -975px;
}
.icon-134 {
  background-position: 0 -1000px;
}
.icon-135 {
  background-position: 0 -1025px;
}
.icon-136 {
  background-position: 0 -1050px;
}
.icon-137 {
  background-position: 0 -1075px;
}
.icon-138 {
  background-position: 0 -1100px;
}
.icon-139 {
  background-position: 0 -1125px;
}
.icon-14 {
  background-position: 0 -1150px;
}
.icon-140 {
  background-position: 0 -1175px;
}
.icon-141 {
  background-position: 0 -1200px;
}
.icon-142 {
  background-position: 0 -1225px;
}
.icon-143 {
  background-position: 0 -1250px;
}
.icon-144 {
  background-position: 0 -1275px;
}
.icon-145 {
  background-position: 0 -1300px;
}
.icon-146 {
  background-position: 0 -1325px;
}
.icon-147 {
  background-position: 0 -1350px;
}
.icon-148 {
  background-position: 0 -1375px;
}
.icon-149 {
  background-position: 0 -1400px;
}
.icon-15 {
  background-position: 0 -1425px;
}
.icon-150 {
  background-position: 0 -1450px;
}
.icon-151 {
  background-position: 0 -1475px;
}
.icon-152 {
  background-position: 0 -1500px;
}
.icon-153 {
  background-position: 0 -1525px;
}
.icon-154 {
  background-position: 0 -1550px;
}
.icon-155 {
  background-position: 0 -1575px;
}
.icon-156 {
  background-position: 0 -1600px;
}
.icon-157 {
  background-position: 0 -1625px;
}
.icon-158 {
  background-position: 0 -1650px;
}
.icon-159 {
  background-position: 0 -1675px;
}
.icon-16 {
  background-position: 0 -1700px;
}
.icon-160 {
  background-position: 0 -1725px;
}
.icon-161 {
  background-position: 0 -1750px;
}
.icon-162 {
  background-position: 0 -1775px;
}
.icon-163 {
  background-position: 0 -1800px;
}
.icon-164 {
  background-position: 0 -1825px;
}
.icon-165 {
  background-position: 0 -1850px;
}
.icon-166 {
  background-position: 0 -1875px;
}
.icon-167 {
  background-position: 0 -1900px;
}
.icon-168 {
  background-position: 0 -1925px;
}
.icon-169 {
  background-position: 0 -1950px;
}
.icon-17 {
  background-position: 0 -1975px;
}
.icon-170 {
  background-position: -25px 0;
}
.icon-171 {
  background-position: -25px -25px;
}
.icon-172 {
  background-position: -25px -50px;
}
.icon-173 {
  background-position: -25px -75px;
}
.icon-174 {
  background-position: -25px -100px;
}
.icon-175 {
  background-position: -25px -125px;
}
.icon-176 {
  background-position: -25px -150px;
}
.icon-177 {
  background-position: -25px -175px;
}
.icon-178 {
  background-position: -25px -200px;
}
.icon-179 {
  background-position: -25px -225px;
}
.icon-18 {
  background-position: -25px -250px;
}
.icon-180 {
  background-position: -25px -275px;
}
.icon-181 {
  background-position: -25px -300px;
}
.icon-182 {
  background-position: -25px -325px;
}
.icon-183 {
  background-position: -25px -350px;
}
.icon-184 {
  background-position: -25px -375px;
}
.icon-185 {
  background-position: -25px -400px;
}
.icon-186 {
  background-position: -25px -425px;
}
.icon-187 {
  background-position: -25px -450px;
}
.icon-188 {
  background-position: -25px -475px;
}
.icon-189 {
  background-position: -25px -500px;
}
.icon-19 {
  background-position: -25px -525px;
}
.icon-190 {
  background-position: -25px -550px;
}
.icon-191 {
  background-position: -25px -575px;
}
.icon-192 {
  background-position: -25px -600px;
}
.icon-193 {
  background-position: -25px -625px;
}
.icon-194 {
  background-position: -25px -650px;
}
.icon-195 {
  background-position: -25px -675px;
}
.icon-196 {
  background-position: -25px -700px;
}
.icon-197 {
  background-position: -25px -725px;
}
.icon-198 {
  background-position: -25px -750px;
}
.icon-199 {
  background-position: -25px -775px;
}
.icon-2 {
  background-position: -25px -800px;
}
.icon-20 {
  background-position: -25px -825px;
}
.icon-200 {
  background-position: -25px -850px;
}
.icon-201 {
  background-position: -25px -875px;
}
.icon-202 {
  background-position: -25px -900px;
}
.icon-203 {
  background-position: -25px -925px;
}
.icon-204 {
  background-position: -25px -950px;
}
.icon-205 {
  background-position: -25px -975px;
}
.icon-206 {
  background-position: -25px -1000px;
}
.icon-207 {
  background-position: -25px -1025px;
}
.icon-208 {
  background-position: -25px -1050px;
}
.icon-209 {
  background-position: -25px -1075px;
}
.icon-21 {
  background-position: -25px -1100px;
}
.icon-210 {
  background-position: -25px -1125px;
}
.icon-211 {
  background-position: -25px -1150px;
}
.icon-212 {
  background-position: -25px -1175px;
}
.icon-213 {
  background-position: -25px -1200px;
}
.icon-214 {
  background-position: -25px -1225px;
}
.icon-215 {
  background-position: -25px -1250px;
}
.icon-216 {
  background-position: -25px -1275px;
}
.icon-217 {
  background-position: -25px -1300px;
}
.icon-218 {
  background-position: -25px -1325px;
}
.icon-219 {
  background-position: -25px -1350px;
}
.icon-22 {
  background-position: -25px -1375px;
}
.icon-220 {
  background-position: -25px -1400px;
}
.icon-221 {
  background-position: -25px -1425px;
}
.icon-222 {
  background-position: -25px -1450px;
}
.icon-223 {
  background-position: -25px -1475px;
}
.icon-224 {
  background-position: -25px -1500px;
}
.icon-225 {
  background-position: -25px -1525px;
}
.icon-226 {
  background-position: -25px -1550px;
}
.icon-227 {
  background-position: -25px -1575px;
}
.icon-228 {
  background-position: -25px -1600px;
}
.icon-229 {
  background-position: -25px -1625px;
}
.icon-23 {
  background-position: -25px -1650px;
}
.icon-230 {
  background-position: -25px -1675px;
}
.icon-231 {
  background-position: -25px -1700px;
}
.icon-232 {
  background-position: -25px -1725px;
}
.icon-233 {
  background-position: -25px -1750px;
}
.icon-234 {
  background-position: -25px -1775px;
}
.icon-235 {
  background-position: -25px -1800px;
}
.icon-236 {
  background-position: -25px -1825px;
}
.icon-237 {
  background-position: -25px -1850px;
}
.icon-238 {
  background-position: -25px -1875px;
}
.icon-239 {
  background-position: -25px -1900px;
}
.icon-24 {
  background-position: -25px -1925px;
}
.icon-240 {
  background-position: -25px -1950px;
}
.icon-241 {
  background-position: -25px -1975px;
}
.icon-242 {
  background-position: -50px 0;
}
.icon-243 {
  background-position: -50px -25px;
}
.icon-244 {
  background-position: -50px -50px;
}
.icon-245 {
  background-position: -50px -75px;
}
.icon-246 {
  background-position: -50px -100px;
}
.icon-247 {
  background-position: -50px -125px;
}
.icon-248 {
  background-position: -50px -150px;
}
.icon-249 {
  background-position: -50px -175px;
}
.icon-25 {
  background-position: -50px -200px;
}
.icon-250 {
  background-position: -50px -225px;
}
.icon-251 {
  background-position: -50px -250px;
}
.icon-252 {
  background-position: -50px -275px;
}
.icon-253 {
  background-position: -50px -300px;
}
.icon-254 {
  background-position: -50px -325px;
}
.icon-255 {
  background-position: -50px -350px;
}
.icon-256 {
  background-position: -50px -375px;
}
.icon-257 {
  background-position: -50px -400px;
}
.icon-258 {
  background-position: -50px -425px;
}
.icon-259 {
  background-position: -50px -450px;
}
.icon-26 {
  background-position: -50px -475px;
}
.icon-260 {
  background-position: -50px -500px;
}
.icon-261 {
  background-position: -50px -525px;
}
.icon-262 {
  background-position: -50px -550px;
}
.icon-263 {
  background-position: -50px -575px;
}
.icon-264 {
  background-position: -50px -600px;
}
.icon-265 {
  background-position: -50px -625px;
}
.icon-266 {
  background-position: -50px -650px;
}
.icon-267 {
  background-position: -50px -675px;
}
.icon-268 {
  background-position: -50px -700px;
}
.icon-269 {
  background-position: -50px -725px;
}
.icon-27 {
  background-position: -50px -750px;
}
.icon-270 {
  background-position: -50px -775px;
}
.icon-271 {
  background-position: -50px -800px;
}
.icon-272 {
  background-position: -50px -825px;
}
.icon-273 {
  background-position: -50px -850px;
}
.icon-274 {
  background-position: -50px -875px;
}
.icon-275 {
  background-position: -50px -900px;
}
.icon-276 {
  background-position: -50px -925px;
}
.icon-277 {
  background-position: -50px -950px;
}
.icon-278 {
  background-position: -50px -975px;
}
.icon-279 {
  background-position: -50px -1000px;
}
.icon-28 {
  background-position: -50px -1025px;
}
.icon-280 {
  background-position: -50px -1050px;
}
.icon-281 {
  background-position: -50px -1075px;
}
.icon-282 {
  background-position: -50px -1100px;
}
.icon-283 {
  background-position: -50px -1125px;
}
.icon-284 {
  background-position: -50px -1150px;
}
.icon-285 {
  background-position: -50px -1175px;
}
.icon-286 {
  background-position: -50px -1200px;
}
.icon-287 {
  background-position: -50px -1225px;
}
.icon-288 {
  background-position: -50px -1250px;
}
.icon-289 {
  background-position: -50px -1275px;
}
.icon-29 {
  background-position: -50px -1300px;
}
.icon-290 {
  background-position: -50px -1325px;
}
.icon-291 {
  background-position: -50px -1350px;
}
.icon-292 {
  background-position: -50px -1375px;
}
.icon-293 {
  background-position: -50px -1400px;
}
.icon-294 {
  background-position: -50px -1425px;
}
.icon-295 {
  background-position: -50px -1450px;
}
.icon-296 {
  background-position: -50px -1475px;
}
.icon-297 {
  background-position: -50px -1500px;
}
.icon-298 {
  background-position: -50px -1525px;
}
.icon-299 {
  background-position: -50px -1550px;
}
.icon-3 {
  background-position: -50px -1575px;
}
.icon-30 {
  background-position: -50px -1600px;
}
.icon-300 {
  background-position: -50px -1625px;
}
.icon-301 {
  background-position: -50px -1650px;
}
.icon-302 {
  background-position: -50px -1675px;
}
.icon-303 {
  background-position: -50px -1700px;
}
.icon-304 {
  background-position: -50px -1725px;
}
.icon-305 {
  background-position: -50px -1750px;
}
.icon-306 {
  background-position: -50px -1775px;
}
.icon-307 {
  background-position: -50px -1800px;
}
.icon-308 {
  background-position: -50px -1825px;
}
.icon-309 {
  background-position: -50px -1850px;
}
.icon-31 {
  background-position: -50px -1875px;
}
.icon-310 {
  background-position: -50px -1900px;
}
.icon-311 {
  background-position: -50px -1925px;
}
.icon-312 {
  background-position: -50px -1950px;
}
.icon-313 {
  background-position: -50px -1975px;
}
.icon-314 {
  background-position: -75px 0;
}
.icon-315 {
  background-position: -75px -25px;
}
.icon-316 {
  background-position: -75px -50px;
}
.icon-317 {
  background-position: -75px -75px;
}
.icon-318 {
  background-position: -75px -100px;
}
.icon-319 {
  background-position: -75px -125px;
}
.icon-32 {
  background-position: -75px -150px;
}
.icon-320 {
  background-position: -75px -175px;
}
.icon-321 {
  background-position: -75px -200px;
}
.icon-322 {
  background-position: -75px -225px;
}
.icon-323 {
  background-position: -75px -250px;
}
.icon-324 {
  background-position: -75px -275px;
}
.icon-325 {
  background-position: -75px -300px;
}
.icon-326 {
  background-position: -75px -325px;
}
.icon-327 {
  background-position: -75px -350px;
}
.icon-328 {
  background-position: -75px -375px;
}
.icon-329 {
  background-position: -75px -400px;
}
.icon-33 {
  background-position: -75px -425px;
}
.icon-330 {
  background-position: -75px -450px;
}
.icon-331 {
  background-position: -75px -475px;
}
.icon-332 {
  background-position: -75px -500px;
}
.icon-333 {
  background-position: -75px -525px;
}
.icon-334 {
  background-position: -75px -550px;
}
.icon-335 {
  background-position: -75px -575px;
}
.icon-336 {
  background-position: -75px -600px;
}
.icon-337 {
  background-position: -75px -625px;
}
.icon-338 {
  background-position: -75px -650px;
}
.icon-339 {
  background-position: -75px -675px;
}
.icon-34 {
  background-position: -75px -700px;
}
.icon-340 {
  background-position: -75px -725px;
}
.icon-341 {
  background-position: -75px -750px;
}
.icon-342 {
  background-position: -75px -775px;
}
.icon-343 {
  background-position: -75px -800px;
}
.icon-344 {
  background-position: -75px -825px;
}
.icon-345 {
  background-position: -75px -850px;
}
.icon-346 {
  background-position: -75px -875px;
}
.icon-347 {
  background-position: -75px -900px;
}
.icon-348 {
  background-position: -75px -925px;
}
.icon-349 {
  background-position: -75px -950px;
}
.icon-35 {
  background-position: -75px -975px;
}
.icon-350 {
  background-position: -75px -1000px;
}
.icon-351 {
  background-position: -75px -1025px;
}
.icon-352 {
  background-position: -75px -1050px;
}
.icon-353 {
  background-position: -75px -1075px;
}
.icon-354 {
  background-position: -75px -1100px;
}
.icon-355 {
  background-position: -75px -1125px;
}
.icon-356 {
  background-position: -75px -1150px;
}
.icon-357 {
  background-position: -75px -1175px;
}
.icon-358 {
  background-position: -75px -1200px;
}
.icon-359 {
  background-position: -75px -1225px;
}
.icon-36 {
  background-position: -75px -1250px;
}
.icon-360 {
  background-position: -75px -1275px;
}
.icon-361 {
  background-position: -75px -1300px;
}
.icon-362 {
  background-position: -75px -1325px;
}
.icon-363 {
  background-position: -75px -1350px;
}
.icon-364 {
  background-position: -75px -1375px;
}
.icon-365 {
  background-position: -75px -1400px;
}
.icon-366 {
  background-position: -75px -1425px;
}
.icon-367 {
  background-position: -75px -1450px;
}
.icon-368 {
  background-position: -75px -1475px;
}
.icon-369 {
  background-position: -75px -1500px;
}
.icon-37 {
  background-position: -75px -1525px;
}
.icon-370 {
  background-position: -75px -1550px;
}
.icon-371 {
  background-position: -75px -1575px;
}
.icon-372 {
  background-position: -75px -1600px;
}
.icon-373 {
  background-position: -75px -1625px;
}
.icon-374 {
  background-position: -75px -1650px;
}
.icon-375 {
  background-position: -75px -1675px;
}
.icon-376 {
  background-position: -75px -1700px;
}
.icon-377 {
  background-position: -75px -1725px;
}
.icon-378 {
  background-position: -75px -1750px;
}
.icon-379 {
  background-position: -75px -1775px;
}
.icon-38 {
  background-position: -75px -1800px;
}
.icon-380 {
  background-position: -75px -1825px;
}
.icon-381 {
  background-position: -75px -1850px;
}
.icon-382 {
  background-position: -75px -1875px;
}
.icon-383 {
  background-position: -75px -1900px;
}
.icon-384 {
  background-position: -75px -1925px;
}
.icon-385 {
  background-position: -75px -1950px;
}
.icon-386 {
  background-position: -75px -1975px;
}
.icon-387 {
  background-position: -100px 0;
}
.icon-388 {
  background-position: -100px -25px;
}
.icon-389 {
  background-position: -100px -50px;
}
.icon-39 {
  background-position: -100px -75px;
}
.icon-390 {
  background-position: -100px -100px;
}
.icon-391 {
  background-position: -100px -125px;
}
.icon-392 {
  background-position: -100px -150px;
}
.icon-393 {
  background-position: -100px -175px;
}
.icon-394 {
  background-position: -100px -200px;
}
.icon-395 {
  background-position: -100px -225px;
}
.icon-396 {
  background-position: -100px -250px;
}
.icon-397 {
  background-position: -100px -275px;
}
.icon-398 {
  background-position: -100px -300px;
}
.icon-399 {
  background-position: -100px -325px;
}
.icon-4 {
  background-position: -100px -350px;
}
.icon-40 {
  background-position: -100px -375px;
}
.icon-400 {
  background-position: -100px -400px;
}
.icon-401 {
  background-position: -100px -425px;
}
.icon-402 {
  background-position: -100px -450px;
}
.icon-403 {
  background-position: -100px -475px;
}
.icon-404 {
  background-position: -100px -500px;
}
.icon-405 {
  background-position: -100px -525px;
}
.icon-406 {
  background-position: -100px -550px;
}
.icon-407 {
  background-position: -100px -575px;
}
.icon-408 {
  background-position: -100px -600px;
}
.icon-409 {
  background-position: -100px -625px;
}
.icon-41 {
  background-position: -100px -650px;
}
.icon-410 {
  background-position: -100px -675px;
}
.icon-411 {
  background-position: -100px -700px;
}
.icon-412 {
  background-position: -100px -725px;
}
.icon-413 {
  background-position: -100px -750px;
}
.icon-414 {
  background-position: -100px -775px;
}
.icon-415 {
  background-position: -100px -800px;
}
.icon-416 {
  background-position: -100px -825px;
}
.icon-417 {
  background-position: -100px -850px;
}
.icon-418 {
  background-position: -100px -875px;
}
.icon-419 {
  background-position: -100px -900px;
}
.icon-42 {
  background-position: -100px -925px;
}
.icon-420 {
  background-position: -100px -950px;
}
.icon-421 {
  background-position: -100px -975px;
}
.icon-422 {
  background-position: -100px -1000px;
}
.icon-423 {
  background-position: -100px -1025px;
}
.icon-424 {
  background-position: -100px -1050px;
}
.icon-425 {
  background-position: -100px -1075px;
}
.icon-426 {
  background-position: -100px -1100px;
}
.icon-427 {
  background-position: -100px -1125px;
}
.icon-428 {
  background-position: -100px -1150px;
}
.icon-429 {
  background-position: -100px -1175px;
}
.icon-43 {
  background-position: -100px -1200px;
}
.icon-430 {
  background-position: -100px -1225px;
}
.icon-431 {
  background-position: -100px -1250px;
}
.icon-432 {
  background-position: -100px -1275px;
}
.icon-433 {
  background-position: -100px -1300px;
}
.icon-434 {
  background-position: -100px -1325px;
}
.icon-435 {
  background-position: -100px -1350px;
}
.icon-436 {
  background-position: -100px -1375px;
}
.icon-437 {
  background-position: -100px -1400px;
}
.icon-438 {
  background-position: -100px -1425px;
}
.icon-439 {
  background-position: -100px -1450px;
}
.icon-44 {
  background-position: -100px -1475px;
}
.icon-440 {
  background-position: -100px -1500px;
}
.icon-441 {
  background-position: -100px -1525px;
}
.icon-442 {
  background-position: -100px -1550px;
}
.icon-443 {
  background-position: -100px -1575px;
}
.icon-444 {
  background-position: -100px -1600px;
}
.icon-445 {
  background-position: -100px -1625px;
}
.icon-446 {
  background-position: -100px -1650px;
}
.icon-447 {
  background-position: -100px -1675px;
}
.icon-448 {
  background-position: -100px -1700px;
}
.icon-449 {
  background-position: -100px -1725px;
}
.icon-45 {
  background-position: -100px -1750px;
}
.icon-450 {
  background-position: -100px -1775px;
}
.icon-451 {
  background-position: -100px -1800px;
}
.icon-452 {
  background-position: -100px -1825px;
}
.icon-453 {
  background-position: -100px -1850px;
}
.icon-454 {
  background-position: -100px -1875px;
}
.icon-455 {
  background-position: -100px -1900px;
}
.icon-456 {
  background-position: -100px -1925px;
}
.icon-457 {
  background-position: -100px -1950px;
}
.icon-458 {
  background-position: -100px -1975px;
}
.icon-459 {
  background-position: -125px 0;
}
.icon-46 {
  background-position: -125px -25px;
}
.icon-460 {
  background-position: -125px -50px;
}
.icon-461 {
  background-position: -125px -75px;
}
.icon-462 {
  background-position: -125px -100px;
}
.icon-463 {
  background-position: -125px -125px;
}
.icon-464 {
  background-position: -125px -150px;
}
.icon-465 {
  background-position: -125px -175px;
}
.icon-466 {
  background-position: -125px -200px;
}
.icon-467 {
  background-position: -125px -225px;
}
.icon-468 {
  background-position: -125px -250px;
}
.icon-469 {
  background-position: -125px -275px;
}
.icon-47 {
  background-position: -125px -300px;
}
.icon-470 {
  background-position: -125px -325px;
}
.icon-48 {
  background-position: -125px -350px;
}
.icon-49 {
  background-position: -125px -375px;
}
.icon-5 {
  background-position: -125px -400px;
}
.icon-50 {
  background-position: -125px -425px;
}
.icon-51 {
  background-position: -125px -450px;
}
.icon-52 {
  background-position: -125px -475px;
}
.icon-53 {
  background-position: -125px -500px;
}
.icon-54 {
  background-position: -125px -525px;
}
.icon-55 {
  background-position: -125px -550px;
}
.icon-56 {
  background-position: -125px -575px;
}
.icon-57 {
  background-position: -125px -600px;
}
.icon-58 {
  background-position: -125px -625px;
}
.icon-59 {
  background-position: -125px -650px;
}
.icon-6 {
  background-position: -125px -675px;
}
.icon-60 {
  background-position: -125px -700px;
}
.icon-61 {
  background-position: -125px -725px;
}
.icon-62 {
  background-position: -125px -750px;
}
.icon-63 {
  background-position: -125px -775px;
}
.icon-64 {
  background-position: -125px -800px;
}
.icon-65 {
  background-position: -125px -825px;
}
.icon-66 {
  background-position: -125px -850px;
}
.icon-67 {
  background-position: -125px -875px;
}
.icon-68 {
  background-position: -125px -900px;
}
.icon-69 {
  background-position: -125px -925px;
}
.icon-7 {
  background-position: -125px -950px;
}
.icon-70 {
  background-position: -125px -975px;
}
.icon-71 {
  background-position: -125px -1000px;
}
.icon-72 {
  background-position: -125px -1025px;
}
.icon-73 {
  background-position: -125px -1050px;
}
.icon-74 {
  background-position: -125px -1075px;
}
.icon-75 {
  background-position: -125px -1100px;
}
.icon-76 {
  background-position: -125px -1125px;
}
.icon-77 {
  background-position: -125px -1150px;
}
.icon-78 {
  background-position: -125px -1175px;
}
.icon-79 {
  background-position: -125px -1200px;
}
.icon-8 {
  background-position: -125px -1225px;
}
.icon-80 {
  background-position: -125px -1250px;
}
.icon-81 {
  background-position: -125px -1275px;
}
.icon-82 {
  background-position: -125px -1300px;
}
.icon-83 {
  background-position: -125px -1325px;
}
.icon-84 {
  background-position: -125px -1350px;
}
.icon-85 {
  background-position: -125px -1375px;
}
.icon-86 {
  background-position: -125px -1400px;
}
.icon-87 {
  background-position: -125px -1425px;
}
.icon-88 {
  background-position: -125px -1450px;
}
.icon-89 {
  background-position: -125px -1475px;
}
.icon-9 {
  background-position: -125px -1500px;
}
.icon-90 {
  background-position: -125px -1525px;
}
.icon-91 {
  background-position: -125px -1550px;
}
.icon-92 {
  background-position: -125px -1575px;
}
.icon-93 {
  background-position: -125px -1600px;
}
.icon-94 {
  background-position: -125px -1625px;
}
.icon-95 {
  background-position: -125px -1650px;
}
.icon-96 {
  background-position: -125px -1675px;
}
.icon-97 {
  background-position: -125px -1700px;
}
.icon-98 {
  background-position: -125px -1725px;
}
.icon-99 {
  background-position: -125px -1750px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.users {
  background-color: #eee;
}
.user {
  font-weight: bold;
  text-shadow: 1px 0 0 #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #D3CDC9;
  box-shadow: 0 1px 0 #fff;
}
.wrapper {
  display: table;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.users {
  display: table-cell;
  width: 200px;
  border-right: 1px solid #989A9E;
}
.users-inner {
  vertical-align: top;
  overflow-y: scroll;
  height: 100%;
}
.center {
  display: table-cell;
  vertical-align: top;
  position: relative;
  background-image: url("../images/bg.png");
  box-shadow: inset 2px 0 9px -4px rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
}
.conversation {
  overflow-y: scroll;
  height: 100%;
}
.input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #b7bcc8;
  box-shadow: 1px 0 10px rgba(183, 188, 201, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.input-inner {
  margin-left: 10px;
  margin-right: 10px;
}
input:focus {
  outline: none;
}
input[type=text] {
  border: 1px solid #a9acb3;
  border-radius: 14px;
  padding: 3px 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 4px rgba(0, 0, 0, 0.15);
}
.chat-bubble.me {
  float: right;
  text-align: right;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #84b3f3), color-stop(0.28, #86b3ee), color-stop(1, #b1ccee));
  border-color: #5777a5;
}
.chat-bubble.me .chat-bubble-arrow {
  border-color: transparent #b1ccee transparent transparent;
}
.chat-bubble.me .chat-bubble-arrow-border {
  border-color: transparent #5777a5 transparent transparent;
}
.chat-bubble.me .chat-bubble-arrow {
  bottom: -1px;
  right: -3px;
  -webkit-transform: rotate(110deg);
}
.chat-bubble.me .chat-bubble-arrow-border {
  bottom: -3px;
  right: -5px;
  -webkit-transform: rotate(110deg);
}
.chat-bubble.other {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e1c1ff), color-stop(0.28, #d4afef), color-stop(1, #decaee));
  border-color: #9074a6;
}
.chat-bubble.other .chat-bubble-arrow {
  border-color: transparent #decaee transparent transparent;
}
.chat-bubble.other .chat-bubble-arrow-border {
  border-color: transparent #9074a6 transparent transparent;
}
.chat-bubble.other .chat-bubble-arrow {
  bottom: -1px;
  left: -3px;
  -webkit-transform: rotate(70deg);
}
.chat-bubble.other .chat-bubble-arrow-border {
  bottom: -3px;
  left: -5px;
  -webkit-transform: rotate(70deg);
}
.chat-bubble {
  float: left;
  clear: both;
  position: relative;
  margin: 6px 10px;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.chat-bubble p {
  margin: 0;
}
.chat-bubble-glare {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  width: 100%;
  box-sizing: border-box;
}
.chat-bubble-glare-inner {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}
.chat-bubble-arrow {
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
  position: absolute;
}
.chat-bubble-arrow-border {
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
  position: absolute;
}
